.home {
    /* width: 70%; */
    font-family: Arial, "メイリオ", "Meiryo UI";
    padding: 5px;
    margin: 0 auto;
    background-color: white;
}

.home-disp {
    font-family: Arial, "メイリオ", "Meiryo UI";
    width: 70%;
    margin: auto;
    background-color: white;
    color: black;
}

/* Intro */
.introduction {
    display: flex;
}

.intro-logo {
    padding: 10pt;
}

img.intro-logo{
    height: 30vh;
}

.intro-item {
    padding: 10pt;
}