
/* Profileの中身 */
.profile {
    font-family: Arial, "メイリオ", "Meiryo UI";
    /* background-color: #00bbff; */
}

.profile-contents {
    margin: 0 auto;
    display: flex;
}

.period {
    font-family: Arial, "メイリオ", "Meiryo UI";
    width: 20%;
    padding: 7px;
    /* margin-left: 10%; */
    text-align: right;
    border-right: 3px solid #00bbff;
}

.organization {
    font-family: Arial, "メイリオ", "Meiryo UI";
    width: auto;
    margin: 7px;
    text-align: left;
}
