/* Header 全体のスタイル */
.header {
    /* display: flex; */
    /* position: fixed; */
    /* background-image: url(./figs/background.JPG); */
    justify-content: space-between;
    align-items: center;
    height: 40%;
    padding: 0;
    background-color: #333;
    color: white;
}

.header-disp{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    background-color: #333;
    margin:0 auto;
    /* width: 70%; */
    background-image: url(./figs/background.JPG);
}


/* ロゴ部分 */
.logo h1 {
font-size: 32px;
font-family: Arial;
padding: 10px;
}

@media (prefers-reduced-motion: no-preference) {
    .header-logo {
      animation: App-logo-spin infinite 20s linear;
    }
}

img.header-logo{
    height: 10vh;
    width: 10vh;
}
